node_modules
dist
.env
.env.local
.DS_Store
*.log
public/the-angels-support-v2.mov
public/images/hugel claptone tuhubnail/
public/images/pacha-ibiza-thumb-1.jpg
public/images/pacha-ibiza-thumb-2.jpg
public/images/pacha-ibiza-thumb-3.jpg
